.sidebar {
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 72px;
    background-color: white;
}
.sidebar-icon {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1px;
    border-radius: 2px;
}
.sidebar-icon:hover {
    background-color: rgb(241, 237, 237);
    transition: 0.15s;
}
.sidebar-icon img {
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-icon div {
    font-family: Roboto, Arial;
    font-size: 10px;
    margin-top: 1px;

}
.sidebar-icon:active {
    background-color: rgb(213, 211, 211);
}
